<div class="vh-100 py-5" style="background-color: #eee;">
  <div class="container">
    <div class="col-lg-6 col--4 mx-auto mt-5 bg-light shadow p-5" style="border-radius: 1rem;">
        <h1 class="mt-5">Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Username</th>
            <th style="width: 10%">email</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of usersArray">
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="/todo" class="btn btn-sm btn-primary mr-1" [routerLink]="'todo/' + user.id">Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span >Delete</span>
                </button>
            </td>
        </tr>
        <tr >
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
    </div>
  </div>
</div>
