<!-- <app-home></app-home>
<app-todo></app-todo> -->
<!-- <nav class="navbar navbar-extend-lg navbar-light bg-light py-3 sticky-top">
    <div class="container">
        <a class="navbar-brand text-success">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="#navMenu">
        <div class="navbar-nav ms-auto">
           <li class="nav-link"><a aria-current="page" routerLink="/home">Home</a></li> 
            <li class="nav-link"> <a  routerLink="/todo">Todo</a></li>   
            <li class="nav-link"><a routerLink="/users">Users</a></li>    
        </div>
        
    </div>
    </div>
</nav> -->

<div>

<router-outlet></router-outlet>

</div>

    