<app-navbar></app-navbar>
<div class="vh-100 py-5 body"  >
  <div class="container">
    <div class="col-lg-6 col--4 mx-auto bg-light shadow p-5" style="border-radius: 1rem; margin-top: 50px;">
      <h1 class="text-center" style="margin-top: 150px;">Welcome To Your Todo List <br>Sign-up To Start</h1>
      <div class="text-center">
        <!-- <button class="btn btn-light" routerLink="/sign-in" style="color: #9A616D;">Start Now</button> -->
        <!-- <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light" routerLink="/sign-in"> -->
          <p><a routerLink="/sign-in" class="btn bg-success shadow-lg btn-round text-light btn-lg btn-rised mt-2">Get Started > </a></p>
      </div>
      
    </div> 
  </div>
</div>

